#                                                       L'ETAPE 1 DE CE PROJET CONSISTE AU NETOYAGE DE NOTRE BASE DE DONNEES

In [1]:
#Importer les packages
import pandas as pd #Permet de mettre les données dans un dataframe et de les manipuler
import numpy as np

In [2]:
#Importer la base de donnée
#Pour cela tu uplot le fichier et ensuite tu copie son nom et tu le met dans le fonction
df = pd.read_csv('coviddeaths.csv', sep=';')
df

,iso_code,continent,location,date,population,total_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,positive_rate,population_density,aged_65_older,diabetes_prevalence,female_smokers,male_smokers,life_expectancy,new_cases,median_age,hospital_beds_per_thousand
0,ABW,North America,Aruba,12/05/2023,1.064590e+05,NaN,NaN,NaN,NaN,NaN,...,NaN,584.800,13.085,11.62,NaN,NaN,76.29,NaN,18.6,NaN
1,OWID_ASI,NaN,Asia,12/05/2023,4.721383e+09,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.6,NaN
2,AUT,Europe,Austria,12/05/2023,8.939617e+06,NaN,NaN,NaN,NaN,NaN,...,NaN,106.749,19.202,6.35,28.4,30.9,81.54,NaN,18.6,7.370
3,BGR,Europe,Bulgaria,12/05/2023,6.781955e+06,NaN,NaN,NaN,NaN,NaN,...,NaN,65.180,20.801,5.81,30.1,44.4,75.05,NaN,18.6,7.454
4,CHL,South America,Chile,12/05/2023,1.960374e+07,NaN,NaN,NaN,NaN,NaN,...,NaN,24.282,11.087,8.46,34.2,41.5,80.18,NaN,18.6,2.110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309634,ZWE,Africa,Zimbabwe,03/01/2020,1.632054e+07,NaN,NaN,NaN,0.0,NaN,...,NaN,42.729,2.822,1.82,1.6,30.7,61.49,0.0,19.6,1.700
309635,ARG,South America,Argentina,02/01/2020,4.551032e+07,NaN,NaN,NaN,NaN,NaN,...,NaN,16.177,11.198,5.50,16.2,27.7,76.67,NaN,19.6,5.000
309636,MEX,North America,Mexico,02/01/2020,1.275041e+08,NaN,NaN,NaN,NaN,NaN,...,NaN,66.444,6.857,13.06,6.9,21.4,75.05,NaN,19.6,1.380
309637,ARG,South America,Argentina,01/01/2020,4.551032e+07,NaN,NaN,NaN,NaN,NaN,...,NaN,16.177,11.198,5.50,16.2,27.7,76.67,NaN,19.6,5.000
309638,MEX,North America,Mexico,01/01/2020,1.275041e+08,NaN,NaN,NaN,NaN,NaN,...,NaN,66.444,6.857,13.06,6.9,21.4,75.05,NaN,19.6,1.380

In [3]:
#Observons toutes le nombre de valeurs null de chaque colonne de notre dataframe 
df.isnull().sum()

iso_code                                   0
continent                              14706
location                                   0
date                                       0
population                                 0
total_cases                            36012
new_cases_smoothed                      9997
total_deaths                           56663
new_deaths                              8639
new_deaths_smoothed                     9869
total_cases_per_million                36012
new_cases_per_million                   8733
new_cases_smoothed_per_million          9997
total_deaths_per_million               56663
new_deaths_per_million                  8639
new_deaths_smoothed_per_million         9869
reproduction_rate                     124822
icu_patients                          273738
icu_patients_per_million              273738
hosp_patients                         272957
hosp_patients_per_million             272957
weekly_icu_admissions                 300230
weekly_icu_admissions_per_million     300230
weekly_hosp_admissions                287831
weekly_hosp_admissions_per_million    287831
total_tests                           230252
new_tests                             234236
positive_rate                         213712
population_density                     46891
aged_65_older                          73819
diabetes_prevalence                    57478
female_smokers                        129665
male_smokers                          132114
life_expectancy                        24884
new_cases                               8733
median_age                             65276
hospital_beds_per_thousand             97841
dtype: int64

In [4]:
#supprimons toutes les valeurs null de continent
df.dropna(subset=['continent'], inplace=True)

In [5]:
df.isnull().sum()

iso_code                                   0
continent                                  0
location                                   0
date                                       0
population                                 0
total_cases                            35776
new_cases_smoothed                      9919
total_deaths                           56175
new_deaths                              8621
new_deaths_smoothed                     9791
total_cases_per_million                35776
new_cases_per_million                   8715
new_cases_smoothed_per_million          9919
total_deaths_per_million               56175
new_deaths_per_million                  8621
new_deaths_smoothed_per_million         9791
reproduction_rate                     111192
icu_patients                          259032
icu_patients_per_million              259032
hosp_patients                         258251
hosp_patients_per_million             258251
weekly_icu_admissions                 285524
weekly_icu_admissions_per_million     285524
weekly_hosp_admissions                273125
weekly_hosp_admissions_per_million    273125
total_tests                           215546
new_tests                             219530
positive_rate                         199006
population_density                     33411
aged_65_older                          60339
diabetes_prevalence                    43998
female_smokers                        116185
male_smokers                          118634
life_expectancy                        11404
new_cases                               8715
median_age                             62182
hospital_beds_per_thousand             84361
dtype: int64

In [6]:
#observons les types de nos colonnes
df.dtypes

iso_code                               object
continent                              object
location                               object
date                                   object
population                            float64
total_cases                           float64
new_cases_smoothed                    float64
total_deaths                          float64
new_deaths                            float64
new_deaths_smoothed                   float64
total_cases_per_million               float64
new_cases_per_million                 float64
new_cases_smoothed_per_million        float64
total_deaths_per_million              float64
new_deaths_per_million                float64
new_deaths_smoothed_per_million       float64
reproduction_rate                     float64
icu_patients                          float64
icu_patients_per_million              float64
hosp_patients                         float64
hosp_patients_per_million             float64
weekly_icu_admissions                 float64
weekly_icu_admissions_per_million     float64
weekly_hosp_admissions                float64
weekly_hosp_admissions_per_million    float64
total_tests                           float64
new_tests                             float64
positive_rate                         float64
population_density                    float64
aged_65_older                         float64
diabetes_prevalence                   float64
female_smokers                        float64
male_smokers                          float64
life_expectancy                       float64
new_cases                             float64
median_age                            float64
hospital_beds_per_thousand            float64
dtype: object

In [14]:
# Tri des données par pays et date
df.sort_values(['location', 'date'], inplace=True)

# Liste des colonnes numériques
numeric_columns = df.select_dtypes(include=['float64']).columns

# Groupe par pays
grouped = df.groupby('location')

# Boucle for pour remplacer les valeurs null
for col in numeric_columns:
    if col.startswith('new'):
        # Remplacement des valeurs null par 0 pour les colonnes commençant par 'new'
        df[col].fillna(0, inplace=True)
    else:
        #remplacement des valeurs null par la valeur precedente ou suivante du meme pays
        group_mask = df[col].isnull().groupby(df['location']).transform('any')
        df[col] = df.groupby('location')[col].ffill().bfill().where(group_mask, df[col])

# Affichage du DataFrame mis à jour
print(df.isnull().sum())

iso_code                              0
continent                             0
location                              0
date                                  0
population                            0
total_cases                           0
new_cases_smoothed                    0
total_deaths                          0
new_deaths                            0
new_deaths_smoothed                   0
total_cases_per_million               0
new_cases_per_million                 0
new_cases_smoothed_per_million        0
total_deaths_per_million              0
new_deaths_per_million                0
new_deaths_smoothed_per_million       0
reproduction_rate                     0
icu_patients                          0
icu_patients_per_million              0
hosp_patients                         0
hosp_patients_per_million             0
weekly_icu_admissions                 0
weekly_icu_admissions_per_million     0
weekly_hosp_admissions                0
weekly_hosp_admissions_per_million    0
total_tests                           0
new_tests                             0
positive_rate                         0
population_density                    0
aged_65_older                         0
diabetes_prevalence                   0
female_smokers                        0
male_smokers                          0
life_expectancy                       0
new_cases                             0
median_age                            0
hospital_beds_per_thousand            0
dtype: int64

In [8]:
df

,iso_code,continent,location,date,population,total_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,positive_rate,population_density,aged_65_older,diabetes_prevalence,female_smokers,male_smokers,life_expectancy,new_cases,median_age,hospital_beds_per_thousand
217985,AFG,Asia,Afghanistan,01/01/2021,41128772.0,52513.0,131.143,2201.0,12.0,9.429,...,0.1395,54.422,2.581,9.59,7.1,51.2,64.83,183.0,25.2,0.5
125324,AFG,Asia,Afghanistan,01/01/2022,41128772.0,158059.0,24.571,7356.0,0.0,1.143,...,0.1395,54.422,2.581,9.59,7.1,51.2,64.83,0.0,29.3,0.5
32640,AFG,Asia,Afghanistan,01/01/2023,41128772.0,207579.0,36.714,7849.0,0.0,0.571,...,0.1395,54.422,2.581,9.59,7.1,51.2,64.83,25.0,25.4,0.5
302236,AFG,Asia,Afghanistan,01/02/2020,41128772.0,207579.0,0.000,7849.0,0.0,0.000,...,0.1395,54.422,2.581,9.59,7.1,51.2,64.83,0.0,32.6,0.5
210154,AFG,Asia,Afghanistan,01/02/2021,41128772.0,55059.0,55.286,2404.0,4.0,2.714,...,0.1395,54.422,2.581,9.59,7.1,51.2,64.83,36.0,32.6,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141325,ZWE,Africa,Zimbabwe,31/10/2021,16320539.0,132954.0,47.000,4677.0,2.0,1.286,...,0.0154,42.729,2.822,1.82,1.6,30.7,61.49,28.0,23.2,1.7
48614,ZWE,Africa,Zimbabwe,31/10/2022,16320539.0,258169.0,18.857,5610.0,0.0,0.000,...,0.0154,42.729,2.822,1.82,1.6,30.7,61.49,132.0,25.7,1.7
218488,ZWE,Africa,Zimbabwe,31/12/2020,16320539.0,13625.0,138.429,360.0,1.0,4.286,...,0.0952,42.729,2.822,1.82,1.6,30.7,61.49,300.0,25.7,1.7
125831,ZWE,Africa,Zimbabwe,31/12/2021,16320539.0,211728.0,1483.429,4997.0,30.0,20.286,...,0.2858,42.729,2.822,1.82,1.6,30.7,61.49,2073.0,29.3,1.7
33145,ZWE,Africa,Zimbabwe,31/12/2022,16320539.0,260100.0,25.714,5637.0,1.0,0.286,...,0.2858,42.729,2.822,1.82,1.6,30.7,61.49,41.0,29.3,1.7

In [9]:
#Telechargeons notre dataFrame et parcourons le pour savoir pourquoi certaines valeurs nuls n'ont pas été remplacées
#df.to_csv('nouveau_fichier.csv', index=False)

### Apre avoir telecharger notre dataFrame sous forme de fichier csv nous avons pu naviguer librement dans notre df et nous nous sommes rendu compte que la raison pour laquelle certaines valeurs null ne pouvaient pas etre remplacée par cette valeur non null du meme pays est que nous ces valeurs etaient toute null pour ce pays. Donc nous avons decidé de remplacer ces valeurs normalement positive par la valeur -1 pour indiquer qu'elles sont indisponible pour ce pays.

In [10]:
# Remplacement des valeurs null par -1
for col in numeric_columns:
        df[col].fillna(-1, inplace=True)

In [11]:
#visualisons les valeurs null
df.isnull().sum()

iso_code                              0
continent                             0
location                              0
date                                  0
population                            0
total_cases                           0
new_cases_smoothed                    0
total_deaths                          0
new_deaths                            0
new_deaths_smoothed                   0
total_cases_per_million               0
new_cases_per_million                 0
new_cases_smoothed_per_million        0
total_deaths_per_million              0
new_deaths_per_million                0
new_deaths_smoothed_per_million       0
reproduction_rate                     0
icu_patients                          0
icu_patients_per_million              0
hosp_patients                         0
hosp_patients_per_million             0
weekly_icu_admissions                 0
weekly_icu_admissions_per_million     0
weekly_hosp_admissions                0
weekly_hosp_admissions_per_million    0
total_tests                           0
new_tests                             0
positive_rate                         0
population_density                    0
aged_65_older                         0
diabetes_prevalence                   0
female_smokers                        0
male_smokers                          0
life_expectancy                       0
new_cases                             0
median_age                            0
hospital_beds_per_thousand            0
dtype: int64

In [12]:
#visualisons si les valeurs ont bien été remplacées
df['weekly_icu_admissions_per_million'].tail()

141325   -1.0
48614    -1.0
218488   -1.0
125831   -1.0
33145    -1.0
Name: weekly_icu_admissions_per_million, dtype: float64

In [13]:
#recuperons notre nouvelles base de données netoyées
df.to_csv('coviddeaths2.csv', index=False)

In [ ]:
df.tail(100)