#                                                       L'ETAPE 1 DE CE PROJET CONSISTE AU NETOYAGE DE NOTRE BASE DE DONNEES

In [1]:
#Importer les packages
import pandas as pd #Permet de mettre les données dans un dataframe et de les manipuler
import numpy as np

In [2]:
#Importer la base de donnée
#Pour cela tu uplot le fichier et ensuite tu copie son nom et tu le met dans le fonction
df = pd.read_csv('covidVac.csv', sep=';')
df

,iso_code,continent,location,date,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,aged_70_older,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,03/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,1.337,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,04/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,1.337,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,05/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,1.337,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,06/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,1.337,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,07/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,1.337,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309634,ZWE,Africa,Zimbabwe,06/05/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,1.882,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
309635,ZWE,Africa,Zimbabwe,07/05/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,1.882,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
309636,ZWE,Africa,Zimbabwe,08/05/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,1.882,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
309637,ZWE,Africa,Zimbabwe,09/05/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,1.882,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
309638,ZWE,Africa,Zimbabwe,10/05/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,1.882,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [3]:
#Observons toutes le nombre de valeurs null de chaque colonne de notre dataframe 
df.isnull().sum()

iso_code                                           0
continent                                      14706
location                                           0
date                                               0
total_tests                                   230252
new_tests                                     234236
total_tests_per_thousand                      230252
new_tests_per_thousand                        234236
new_tests_smoothed                            205674
new_tests_smoothed_per_thousand               205674
positive_rate                                 213712
tests_per_case                                215291
tests_units                                   202851
total_vaccinations                            234896
people_vaccinated                             238049
people_fully_vaccinated                       240282
new_vaccinations                              248129
new_vaccinations_smoothed                     142452
total_vaccinations_per_hundred                234896
people_vaccinated_per_hundred                 238049
people_fully_vaccinated_per_hundred           240282
new_vaccinations_smoothed_per_million         142452
new_people_vaccinated_smoothed                142481
new_people_vaccinated_smoothed_per_hundred    142481
stringency_index                              116445
population_density                             46891
median_age                                     65276
aged_65_older                                  73819
aged_70_older                                  67726
extreme_poverty                               155378
cardiovasc_death_rate                          69715
diabetes_prevalence                            57478
female_smokers                                129665
male_smokers                                  132114
handwashing_facilities                        192125
hospital_beds_per_thousand                     97841
life_expectancy                                24884
human_development_index                        77064
dtype: int64

In [4]:
#supprimons toutes les valeurs null de continent
df.dropna(subset=['continent'], inplace=True)

In [5]:
df.isnull().sum()

iso_code                                           0
continent                                          0
location                                           0
date                                               0
total_tests                                   215546
new_tests                                     219530
total_tests_per_thousand                      215546
new_tests_per_thousand                        219530
new_tests_smoothed                            190968
new_tests_smoothed_per_thousand               190968
positive_rate                                 199006
tests_per_case                                200585
tests_units                                   188145
total_vaccinations                            230604
people_vaccinated                             233757
people_fully_vaccinated                       235810
new_vaccinations                              243778
new_vaccinations_smoothed                     138101
total_vaccinations_per_hundred                230604
people_vaccinated_per_hundred                 233757
people_fully_vaccinated_per_hundred           235810
new_vaccinations_smoothed_per_million         138101
new_people_vaccinated_smoothed                138130
new_people_vaccinated_smoothed_per_hundred    138130
stringency_index                              101739
population_density                             33411
median_age                                     51796
aged_65_older                                  60339
aged_70_older                                  54246
extreme_poverty                               141898
cardiovasc_death_rate                          56235
diabetes_prevalence                            43998
female_smokers                                116185
male_smokers                                  118634
handwashing_facilities                        178645
hospital_beds_per_thousand                     84361
life_expectancy                                11404
human_development_index                        63584
dtype: int64

In [6]:
#observons les types de nos colonnes
df.dtypes

iso_code                                       object
continent                                      object
location                                       object
date                                           object
total_tests                                   float64
new_tests                                     float64
total_tests_per_thousand                      float64
new_tests_per_thousand                        float64
new_tests_smoothed                            float64
new_tests_smoothed_per_thousand               float64
positive_rate                                 float64
tests_per_case                                float64
tests_units                                    object
total_vaccinations                            float64
people_vaccinated                             float64
people_fully_vaccinated                       float64
new_vaccinations                              float64
new_vaccinations_smoothed                     float64
total_vaccinations_per_hundred                float64
people_vaccinated_per_hundred                 float64
people_fully_vaccinated_per_hundred           float64
new_vaccinations_smoothed_per_million         float64
new_people_vaccinated_smoothed                float64
new_people_vaccinated_smoothed_per_hundred    float64
stringency_index                              float64
population_density                            float64
median_age                                    float64
aged_65_older                                 float64
aged_70_older                                 float64
extreme_poverty                               float64
cardiovasc_death_rate                         float64
diabetes_prevalence                           float64
female_smokers                                float64
male_smokers                                  float64
handwashing_facilities                        float64
hospital_beds_per_thousand                    float64
life_expectancy                               float64
human_development_index                       float64
dtype: object

In [7]:
# Tri des données par pays et date
df.sort_values(['location', 'date'], inplace=True)

# Liste des colonnes numériques
numeric_columns = df.select_dtypes(include=['float64']).columns

# Groupe par pays
grouped = df.groupby('location')

# Boucle for pour remplacer les valeurs null
for col in df:
    if col.startswith('new'):
        # Remplacement des valeurs null par 0 pour les colonnes commençant par 'new'
        df[col].fillna(0, inplace=True)
    else:
        #remplacement des valeurs null par la valeur precedente ou suivante du meme pays
        group_mask = df[col].isnull().groupby(df['location']).transform('any')
        df[col] = df.groupby('location')[col].ffill().bfill().where(group_mask, df[col])

# Affichage du DataFrame mis à jour
print(df.isnull().sum())

iso_code                                      0
continent                                     0
location                                      0
date                                          0
total_tests                                   0
new_tests                                     0
total_tests_per_thousand                      0
new_tests_per_thousand                        0
new_tests_smoothed                            0
new_tests_smoothed_per_thousand               0
positive_rate                                 0
tests_per_case                                0
tests_units                                   0
total_vaccinations                            0
people_vaccinated                             0
people_fully_vaccinated                       0
new_vaccinations                              0
new_vaccinations_smoothed                     0
total_vaccinations_per_hundred                0
people_vaccinated_per_hundred                 0
people_fully_vaccinated_per_hundred           0
new_vaccinations_smoothed_per_million         0
new_people_vaccinated_smoothed                0
new_people_vaccinated_smoothed_per_hundred    0
stringency_index                              0
population_density                            0
median_age                                    0
aged_65_older                                 0
aged_70_older                                 0
extreme_poverty                               0
cardiovasc_death_rate                         0
diabetes_prevalence                           0
female_smokers                                0
male_smokers                                  0
handwashing_facilities                        0
hospital_beds_per_thousand                    0
life_expectancy                               0
human_development_index                       0
dtype: int64

In [8]:
#recuperons notre nouvelles base de données netoyées
df.to_csv('covidVac2.csv', index=False)